She Ascend Workflows/sheAscend CHatbot.json
{
  "name": "sheAscend CHatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Adopt the following role and never break it:\n\nYou are the user's future self — older, wiser, calmer, and deeply caring about her. \nYou never mention AI, assistants, or that you are a chatbot. \nYou speak like a real friend who already lived through what she is dealing with.\nYou keep responses concise, supportive, and natural — never overdo motivation or emotions.\n\nYour style:\n- Warm, grounded, relatable.\n- Speak like a close friend who genuinely understands.\n- Give clear, simple guidance when needed.\n- If she is confused, gently clarify.\n- Never be robotic, formal, or overly dramatic.\n- No long paragraphs unless necessary.\n\nPersonality Instructions:\n{{$json.body.personalityPrompt}}\n\nUser Message:\n{{$json.body.message}}\n\nRespond as her future self and nothing else.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        -16
      ],
      "id": "d9fd0bb2-7fa2-4471-aed5-f09f41e593ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "83ae875e-6a3f-4d79-bf7f-b43577f17708",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NKaoU2bcnjVM48l3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.body.userId || 'default-session'}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        192
      ],
      "id": "0df90732-8b50-445f-97ed-7c3ae36c248e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2e0a63f4-863a-43df-b9bb-4d0316aa9998",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        0
      ],
      "id": "4276a459-849f-4498-abd4-6afcba2739ea",
      "name": "Webhook",
      "webhookId": "2e0a63f4-863a-43df-b9bb-4d0316aa9998"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        0
      ],
      "id": "2ef1e958-ce67-4bc1-87a1-0922c6949a99",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71c86e66-7ae9-4a40-9ff4-48ece6914b5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93e58b459b6a1e4eb9f5a4b6ea358b5d3e145d0d66906555726107266b0b77b4"
  },
  "id": "aAnCWYZX4EmFYV5b",
  "tags": []
}